.Dashboard {
  text-align: center;
  background-color:#888;
}

.country-card {
  width: 300px;
  background-color: white;
  border-radius: 10%;
  box-shadow: 5px 10px #888888
}
.country-flag {
  width: 300px;
}
.country-article {
  padding:0 10px;
}